.card {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

.fab {
  position: fixed;
  right: 18px;
  bottom: 18px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  text-decoration: none;

  border: 1px solid #ddd;
  background: white;

  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}